* {
    box-sizing: border-box;
}
body {
    font-family: "Source Sans Pro", sans-serif;
}
.my-header {
    background-color: black;
    color: white;
}
.currentWeather {
    border: 1px solid #a9a9a9;
    margin-top: 15px;
    padding: 15px;
}
.cityTitle {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.cityTitle h4 {
    padding-left: 15px;
    margin-top: 5px;
}
.row {
    margin-top: 30px;
    margin-left: 0;
    justify-content: space-between;
}
.card {
    color: white;
}
#showForecast {
    margin-top: 3%;
}
